<div id="socials" class="socials-container">
    <div class="socials-header">
        <span>Prijavite se lahko tudi s:</span>
    </div>
    <div class="socials-icons">
        <div class="social-icon facebook">
            <a href = "auth/facebook/callback"><i class = "fa-brands fa-facebook"></i></a>
        </div>
        <div class="social-icon twitter">
            <a href = "auth/twitter"><i class = "fa-brands fa-twitter"></i></a>
        </div>
        <div class="social-icon google">
            <a href = "auth/google"><i class = "fa-brands fa-google"></i></a>
        </div>
    </div>
</div>