<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <%- include("../components/head.ejs") %>
</head>

<body>
    <%- include("../components/header.ejs") %>
        <div class="main-content">
            <div class="content2">
                <div class="container2">
                    <div class="questionText">
                        <div>
                            <h1> Question Title </h1>
                            <h5>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna
                                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat.
                        </div>

                        <div class="response-metadata">
                            <h5 class="response-metadata">Posted by: username, date posted</h5>
                        </div>
                    </div>
                </div>


                <div class="response2">
                    <div class="questionText">
                        <div>
                            <h5>Response text</h5>
                        </div>
                        <div class="response-metadata">
                            <h5 class="response-metadata">Posted by: username, date posted</h5>
                        </div>
                    </div>
                </div>


                <div class="response">
                    <div class="questionText">
                        <h5>Response text</h5>
                        <div class="response-metadata">
                            <h5 class="response-metadata">Posted by: username, date posted</h5>
                        </div>
                    </div>
                </div>


                <div class="response2">
                    <div class="questionText">
                        <h5>Response text</h5>
                        <div class="response-metadata">
                            <h5 class="response-metadata">Posted by: username, date posted</h5>
                        </div>
                    </div>
                </div>



            </div>
        </div>

</body>

</html>