<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avto mehanik</title>
    <%- include('../components/head.ejs') %>
</head>

<body>

    <header class="header" id="adminHeader">
        <span class="header-title"> Carvio </span>
        <% if (user) { %>
            <a href="/logout" class="btn admin-header">
                <%- user.firstname %>
                    <%- user.firstname %> - Logout
            </a>
            <% } %>
    </header>

    <div id="app">
        <div class="main-content">
            <div class="sidebar">
                <div class="actions">
                    <button class="action active" data-action-parent="#servicesContainer"
                        onclick='loadActiveBookings()'>
                        <div class="action-icon">
                            <i class="fa-solid fa-car"></i>
                        </div>
                        <span class="action-text">Aktivni zadevi</span>
                    </button>
                    <button class="action" data-action-parent="#ratingsContainer" onclick="loadFinishedBookings()">
                        <div class="action-icon">
                            <i class="fa-solid fa-receipt"></i>
                        </div>
                        <span class="action-text">Končani zadevi</span>
                    </button>

                    <button class="action collapse">
                        <div class="action-icon">
                            <i class="fa-solid fa-arrow-left"></i>
                        </div>
                        <span class="action-text">Zmanjšaj prikaz</span>
                    </button>

                </div>
            </div>
            <div class="content">
                <div class="action-frame active">
                    
                </div>
            </div>


        </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsDFmWDBjBZOYOY7LPxscKl6aACI4W8OQ&v=weekly"
    defer></script>    <!-- <script src='public/js/grid.js'></script> -->
    <script src="/socket.io/socket.io.js"></script>
    <script src='public/js/mechanic.js'></script>
    <script>
        $(".actions .action").click(function () {
            let action = $(this).attr("data-action-parent");
            console.log(action)
            if (action == undefined) {
                $(".main-content").toggleClass("collapsed")
                $(this).find("i").toggleClass("fa-arrow-left")
                $(this).find("i").toggleClass("fa-arrow-right")

                return;
            }
            $(".actions .action").removeClass("active")
            $(this).addClass("active");
            // $(".content .action-frame").removeClass("active");
            // $(action).addClass("active");
        })

    </script>
</body>

</html>